
/* WEBSITE */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0px;

}
.website{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

/* HEADER */

header{
    background-color: black;
    color: white;
    padding-left: 2rem;
    padding-top: 1rem;
    width: 100%;
    min-height: 90vh;
}
.Header-headings{
    font-family: 'Courier New', Courier, monospace;
    font-size: clamp(1rem, 5vw, 3rem);
    margin-top: 2rem;
}
.Header-para{
    font-family: 'Courier New', Courier, monospace;
    font-size: clamp(1rem, 2vw, 2rem);
    margin-top: .5rem;
}
#Corely-mem{
    font-family: 'Courier New', Courier, monospace;
    font-size: clamp(1rem, 2vw, 2rem);
    margin-top: 3rem;
}
.header-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 0%;
    gap: 1rem;
    margin-left: 45vw;
    margin-top: -32vh;
}
.header-grid-images{
    width: 20vw;
    height: 15vw;
    border-radius: 25px;
}
.header-grid-images:hover{
    transform: scale(1.1);
    border: 2px solid green;
    box-shadow: 0px 0px 3px green;
}